.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 210px;
  position: relative;
  z-index: 2222;
  /* 0 width - change this with JavaScript */
  /* Stay in place */
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background: white;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }
  .sidenav ul {
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    text-align: left; }
    .sidenav ul li .second-item__title a {
      font-weight: bold; }

/* The navigation menu links */
/* When you mouse over the navigation links, change their color */
img {
  object-fit: cover; }

.top-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  align-items: flex-start; }

#main {
  transition: margin-left .5s; }

.app {
  min-height: 100vh !important;
  background-color: #ffffff; }

img {
  max-width: 100%; }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  color: #343a40 !important;
  text-decoration: none !important; }

.body {
  width: 100%;
  min-height: 100vh;
  padding-top: 60px; }
  .body .part1 {
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .body .part1 .text-left {
      padding: 40px 30px;
      flex-shrink: 1; }
      .body .part1 .text-left h1 {
        font-size: 8rem; }
      .body .part1 .text-left p {
        font-size: 3rem;
        padding-bottom: 20px; }
      .body .part1 .text-left a {
        outline: none;
        text-decoration: none;
        box-shadow: .3px .4px 1px 2px white;
        padding: 10px 40px;
        border-radius: 9px;
        color: #111111;
        border: 1px solid #818181; }
    .body .part1 .img {
      flex-shrink: 0;
      padding: 20px;
      width: 50%; }
  .body .part2 {
    min-height: 30vh;
    padding: 0 30px; }
    .body .part2 h1 {
      text-align: center;
      font-size: 4rem;
      text-transform: capitalize; }
    .body .part2 .slider {
      text-align: center;
      margin: 0 auto; }
      .body .part2 .slider img {
        width: 100%;
        max-height: 500px; }
  .body .part3 {
    text-align: center;
    min-height: 50vh;
    padding: 20px; }
    .body .part3 h1 {
      padding: 20px 0;
      border: 1px solid #eee; }
    .body .part3 .boxes .box1 p, .body .part3 .boxes .box2 p, .body .part3 .boxes .box3 p {
      text-align: left;
      padding: 10px;
      border: 1px solid #eee; }
  .body .part4 {
    min-height: 40vh;
    padding-top: 30px;
    max-width: 100%; }
    .body .part4 .slider3 {
      text-align: left;
      max-width: 100%;
      height: 400px;
      padding: 20px 0; }
      .body .part4 .slider3 h2 {
        font-size: 3rem; }
    .body .part4 .slid-box {
      padding: 0px 30px;
      min-height: 360px;
      background-color: white;
      box-shadow: .3px .4px 1px 2px black; }
      .body .part4 .slid-box .img {
        min-height: 200px; }
      .body .part4 .slid-box img {
        max-width: 100%;
        max-height: 200px; }
    .body .part4 span,
    .body .part4 h5,
    .body .part4 h6 {
      text-align: left; }

.header {
  background: white;
  z-index: 5000;
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed; }
  .header .navTitle {
    font-size: 10px;
    font-weight: 500; }
    .header .navTitle a {
      text-decoration: none; }
  .header .navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .header .navItems li {
      padding: 10px;
      list-style: none; }
      .header .navItems li a {
        text-decoration: none;
        font-size: 20px; }

.footer {
  min-height: 350px;
  border-top: 2px solid #eee;
  padding: 20px; }
  .footer .row {
    text-align: left;
    text-align: center;
    justify-content: center;
    padding: 20px; }
    .footer .row span {
      font-size: 20px;
      padding-top: 10px; }
    .footer .row a {
      font-size: 20px;
      padding-top: 10px; }
    .footer .row input,
    .footer .row button {
      display: block;
      width: 100%;
      margin-top: 10px; }

.sign .signBox {
  margin: 20px auto;
  text-align: left;
  justify-content: center; }
  .sign .signBox .form {
    border: 3px solid #eee;
    padding: 20px;
    min-height: 50vh; }

.sign button {
  padding: 10px 30px;
  text-align: left;
  display: block;
  margin: 10px 0px; }

.cart-screen {
  padding: 0 40px;
  margin: 20px; }
  .cart-screen .cart-action-box {
    height: 200px;
    padding: 20px 10px;
    background-color: #eee;
    box-sizing: border-box; }
    .cart-screen .cart-action-box span {
      font-size: 15px;
      display: block; }
    .cart-screen .cart-action-box button {
      width: 100%;
      outline: none;
      text-transform: uppercase;
      border: none;
      justify-self: end;
      background-color: #f08000;
      border-radius: 3px;
      padding: 10px 0px;
      opacity: 0.9;
      margin-top: 20px; }
    .cart-screen .cart-action-box button:hover {
      opacity: 1; }
  .cart-screen .cart-item-list {
    padding: 10px;
    flex-direction: column !important; }
    .cart-screen .cart-item-list .item-img {
      border-bottom: 1px solid #eee;
      height: 100px;
      margin: 10px; }
      .cart-screen .cart-item-list .item-img img {
        max-height: 100%; }

.form-screen {
  width: 350px;
  height: auto;
  max-width: 100vw;
  justify-self: center;
  justify-items: center;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0px 0px 3px 3px #343a40; }

.products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .products .row {
    padding: 10px; }
    .products .row .col-lg-4 {
      padding: 10px; }
      .products .row .col-lg-4 span {
        display: block; }
      .products .row .col-lg-4 .productForm {
        padding: 10px;
        display: flex;
        text-align: center;
        margin: 0 auto;
        justify-content: center; }
        .products .row .col-lg-4 .productForm button {
          padding: 0px 20px;
          border: 1px solid #818181;
          background-color: white; }
        .products .row .col-lg-4 .productForm .input {
          font-size: 6px;
          height: 30px; }

.spinner {
  position: relative;
  top: 30vh;
  padding: 0px;
  transform: translate(50%, 50%); }

.product-screen {
  padding: 20px; }
  .product-screen .product-screen-action-box ul {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; }
    .product-screen .product-screen-action-box ul li {
      padding: 5px 0px; }
      .product-screen .product-screen-action-box ul li button {
        padding: 5px 40px;
        color: white;
        border-radius: 5px; }

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  max-width: 100%;
  margin: 1rem auto; }
  .checkout-steps div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1; }
  .checkout-steps div.active {
    border-top: 0.3rem #f08000 solid;
    color: #f08000; }

.placeorder-screen {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  min-height: 100vh; }
  .placeorder-screen .placeorder-details {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 800px; }
    .placeorder-screen .placeorder-details .list-items {
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 100%;
      min-height: 100px;
      justify-content: flex-start;
      padding-bottom: 10px; }
      .placeorder-screen .placeorder-details .list-items .cart-item-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        min-height: 100px;
        justify-content: flex-start;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px; }
        .placeorder-screen .placeorder-details .list-items .cart-item-list .item-img {
          width: 100%;
          flex-basis: 200px;
          padding: 10px 0; }
          .placeorder-screen .placeorder-details .list-items .cart-item-list .item-img img {
            max-width: 100%;
            max-height: 100px; }
        .placeorder-screen .placeorder-details .list-items .cart-item-list .item-details {
          flex-basis: 600px;
          flex-grow: 1;
          padding: 20px; }
          .placeorder-screen .placeorder-details .list-items .cart-item-list .item-details h2 {
            font-size: 20px; }
          .placeorder-screen .placeorder-details .list-items .cart-item-list .item-details .item-control {
            width: 100%; }
            .placeorder-screen .placeorder-details .list-items .cart-item-list .item-details .item-control .qty {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              flex-direction: row;
              text-align: center;
              align-items: center;
              flex-wrap: nowrap; }
    .placeorder-screen .placeorder-details .shipping-info {
      text-transform: capitalize;
      background-color: #eee;
      padding: 20px;
      display: flex;
      flex-direction: column; }
      .placeorder-screen .placeorder-details .shipping-info button {
        margin: 10px auto;
        align-items: center;
        width: 60%;
        outline: none;
        border: none;
        background-color: #f08000;
        border-radius: 3px;
        padding: 10px 0px;
        opacity: 0.9; }
      .placeorder-screen .placeorder-details .shipping-info button:hover {
        opacity: 1; }
      .placeorder-screen .placeorder-details .shipping-info h1 {
        text-align: center; }

.placeorder-action {
  height: 800px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  flex-basis: 200px;
  background-color: #e3e3e3;
  padding: 30px; }
  .placeorder-action .action-box {
    margin-bottom: 40px; }
    .placeorder-action .action-box p:last-child {
      border-top: 3px solid #203040;
      padding: 10px;
      font-weight: bold;
      font-size: 1.5rem; }
  .placeorder-action .shipping-info {
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    display: flex;
    flex-direction: column; }
    .placeorder-action .shipping-info .title {
      text-align: center;
      border-top: 1px solid #eee;
      padding: 20px 0;
      font-weight: bold;
      font-size: 1.5rem; }
    .placeorder-action .shipping-info button {
      color: white; }
  .placeorder-action button {
    text-transform: capitalize;
    margin: 10px auto;
    align-items: center;
    width: 60%;
    outline: none;
    border: none;
    background-color: #f08000;
    border-radius: 3px;
    padding: 10px 0px;
    opacity: 0.9; }
  .placeorder-action button:hover {
    opacity: 1; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 599px) {
  .sidenav {
    display: none; }
  .sign {
    width: 100vw;
    max-width: 100vw;
    padding: 20px; }
  .header .navTitle a {
    text-decoration: none; }
  .header .navItems li {
    padding: 10px;
    list-style: none;
    cursor: pointer; }
    .header .navItems li a {
      text-decoration: none;
      font-size: 2rem; }
  .body .part1 .text-left h1 {
    font-size: 3rem; }
  .body .part1 .text-left p {
    font-size: 2rem; }
  .body .part1 .img {
    width: 100%;
    padding: 0px; }
    .body .part1 .img img {
      min-width: 100%; }
  .products .row {
    padding: 10px; }
    .products .row .col-xs-12 {
      flex-direction: row !important;
      flex-wrap: wrap;
      display: flex;
      box-shadow: .3px .4px 1px 2px white; }
  footer {
    padding: 20px;
    text-align: center;
    box-sizing: border-box; }
    footer span {
      font-size: 10px; }
    footer h4 {
      font-size: 10px; }
    footer a {
      font-size: 10px; } }

@media (min-width: 500px) and (max-width: 1200px) {
  .body .part1 {
    min-height: auto; }
    .body .part1 .text-left h1 {
      font-size: 5rem; }
    .body .part1 .text-left p {
      font-size: 2rem; }
    .body .part1 .img {
      width: 100%;
      padding: 0px; }
      .body .part1 .img img {
        min-width: 100%;
        max-height: 500px; } }
